@media(max-width: 1200px) {
	.iphone {
		margin-left: -15px;
	}

	.meet-title {
		width: 596px;
	}
}

@media(max-width: 1160px){
	.iphone {
		margin-left: -25px;
	}
}

@media(max-width: 1154px) {
	.meet-title {
      width: 590px;
	}

	input {
		width: 350px;
	}
}

@media(max-width:1150px) {
	.experience-img {
		width: 390px;
	}

	.meet-title {
		width: 580px;
	}

	.stars {
       width: 180px;
	}
}

@media(max-width: 1158px) {
	.meet-title {
		width: 500px;
	}

	input {
		width: 300px;
	}
}

@media(max-width: 1140px) {
	.meet {
		width: 1000px;
	}
}

@media(max-width: 1140px) {
	.experience-img {
		margin-left: -20px;
	}
}

@media(max-width: 1126px){
	.iphone {
		margin-left: -40px;
	}
}

@media(max-width: 1110px) {
	.iphone {
		margin-left: -50px;
	}

	.see {
		width: 100px;
	}
}